[user]
    name = Douglas Rocha
    email = 79188161+dougrocha@users.noreply.github.com
[commit]
    gpgsign = true
[gpg]
    format = ssh
[tag]
    gpgsign = true
[core]
    excludesfile = ~/dotfiles/.gitignore_global
