[user]
    name = Douglas Rocha
    email = 79188161+dougrocha@users.noreply.github.com
    signingkey = ~/.ssh/id_ed25519
[pull]
	rebase = true
[commit]
    gpgsign = true
[gpg]
    format = ssh
[tag]
    gpgsign = true
[column]
	ui = auto
[branch]
	sort = -committerdate
[init]
	defaultBranch = main
[diff]
	algorithm = histogram
	mnemonicPrefix = true
	renames = true
    colorMoved = true
[push]
	autoSetupRemote = true
[fetch]
	prune = true
[rerere]
	enabled = true
    autoupdate = true
[core]
	editor = nvim
