[user]
    name = Douglas Rocha
    email = 79188161+dougrocha@users.noreply.github.com
    signingkey = ~/.ssh/id_ed25519
[pull]
    rebase = true
[rebase]
    autoStash = true
    autoSquash = true
    updateRefs = true
[commit]
    gpgsign = true
    verbose = true
[gpg]
    format = ssh
[tag]
    gpgsign = true
    sort = version:refname
[column]
    ui = auto
[branch]
    sort = -committerdate
[init]
    defaultBranch = main
[diff]
    algorithm = histogram
    mnemonicPrefix = true
    renames = true
    colorMoved = true
    tool = nvim_difftool
[difftool "nvim_difftool"]
    cmd = nvim -c \"packadd nvim.difftool\" -c \"DiffTool $LOCAL $REMOTE\"
[push]
    autoSetupRemote = true
    followTags = true
[fetch]
    prune = true
    pruneTags = true
    all = true
[help]
    autocorrect = prompt
[rerere]
    enabled = true
    autoupdate = true
[core]
    editor = nvim
    pager = delta
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true
    dark = true
    line-numbers = true
[merge]
    conflictstyle = zdiff3
