[Desktop Entry]
Name=Image Viewer
Comment=Fast Image Viewer
Exec=imv %F
NoDisplay=false
Terminal=false
Type=Application
Categories=Graphics;2DGraphics;Viewer;
MimeType=image/x-farbfeld;image/tiff;image/tiff-fx;image/png;image/x-png;image/jpeg;image/jpg;image/pjpeg;image/svg+xml;image/gif;image/bmp;image/x-bmp;image/heif;image/avif;image/jxl;image/webp;image/qoi
Icon=image-x-generic
Keywords=photo;picture;
