start-at-login = false
enable-normalization-flatten-containers = true
enable-normalization-opposite-orientation-for-nested-containers = true

accordion-padding = 16
default-root-container-layout = 'accordion'
default-root-container-orientation = 'auto'

on-focus-changed = ['move-mouse monitor-lazy-center']
on-focused-monitor-changed = ['move-mouse monitor-lazy-center']

automatically-unhide-macos-hidden-apps = false

[key-mapping]
preset = 'qwerty'

[gaps]
inner.horizontal = 8
inner.vertical   = 8
outer.left       = 8
outer.bottom     = 8
outer.top        = 8
outer.right      = 8

[mode.main.binding]

alt-f = 'fullscreen'
alt-shift-f = 'macos-native-fullscreen'

alt-shift-q = 'close'

cmd-h = []
cmd-alt-h = [] 

alt-slash = 'layout tiles horizontal vertical'
alt-comma = 'layout accordion horizontal vertical'

cmd-shift-h = 'focus --boundaries-action wrap-around-the-workspace left'
cmd-shift-l = 'focus --boundaries-action wrap-around-the-workspace right'
cmd-shift-j = 'focus --boundaries-action wrap-around-the-workspace down'
cmd-shift-k = 'focus --boundaries-action wrap-around-the-workspace up'

alt-shift-h = 'move left'
alt-shift-j = 'move down'
alt-shift-k = 'move up'
alt-shift-l = 'move right'

alt-shift-minus = 'resize smart -50'
alt-shift-equal = 'resize smart +50'

alt-1 = 'workspace 1'
alt-2 = 'workspace 2'
alt-3 = 'workspace 3'
alt-4 = 'workspace 4'
alt-5 = 'workspace 5'
alt-6 = 'workspace 6'
alt-7 = 'workspace 7'
alt-d = 'workspace D'
alt-m = 'workspace M'
alt-s = 'workspace S'

alt-shift-1 = 'move-node-to-workspace 1'
alt-shift-2 = 'move-node-to-workspace 2'
alt-shift-3 = 'move-node-to-workspace 3'
alt-shift-4 = 'move-node-to-workspace 4'
alt-shift-5 = 'move-node-to-workspace 5'
alt-shift-6 = 'move-node-to-workspace 6'
alt-shift-7 = 'move-node-to-workspace 7'
alt-shift-d = 'move-node-to-workspace D'
alt-shift-s = 'move-node-to-workspace S'

alt-tab = 'workspace-back-and-forth'
# alt-shift-tab = 'move-workspace-to-monitor --wrap-around next'

alt-shift-semicolon = 'mode service'

[mode.service.binding]
esc = ['reload-config', 'mode main']
r = ['flatten-workspace-tree', 'mode main'] 
f = ['layout floating tiling', 'mode main']
backspace = ['close-all-windows-but-current', 'mode main']

# sticky is not yet supported https://github.com/nikitabobko/AeroSpace/issues/2
#s = ['layout sticky tiling', 'mode main']

alt-shift-h = ['join-with left', 'mode main']
alt-shift-j = ['join-with down', 'mode main']
alt-shift-k = ['join-with up', 'mode main']
alt-shift-l = ['join-with right', 'mode main']

down = 'volume down'
up = 'volume up'
shift-down = ['volume set 0', 'mode main']

[[on-window-detected]]
if.app-id = 'com.apple.safari'
run = 'move-node-to-workspace 1'

[[on-window-detected]]
if.app-name-regex-substring = 'wezterm|ghostty'
run = 'move-node-to-workspace 2'

[[on-window-detected]]
if.app-id = 'com.hnc.Discord'
run = 'move-node-to-workspace D'

[[on-window-detected]]
if.app-name-regex-substring = 'finder|maps|notes|calendar|reminders|photos|messages|mail|system settings|system preferences|calculator|preview|facetime|contacts|books|app store|activity monitor|disk utility|font book'
run = 'layout floating'

[[on-window-detected]]
if.app-name-regex-substring = 'music|spotify'
run = 'move-node-to-workspace M'
